:root {
	--primary: #519152;
	--primary-hover: #49834A;
	--primary-dark: #3D6D3E;
	--black: #272525;
	--white: #FAFAFA;
	--white-hover: #DFD5E6;
	--light-active: #C9DDC9;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "IBM Plex Sans", Arial, sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "wdth" 100;
	color: var(--white);
}

a {
	text-decoration: none;
}

li {
	list-style: none;
	display: inline;
}

h2 {
	font-size: 2em;
}

.section-fullwidth {
	width: 100%;
	/* background-color: #1c1c1c; */
	padding: 3em 0;
}

.container {
	max-width: 90%;
	margin: 0 auto;
	padding: 2em;
}

.header {
	background-color: var(--black);
	/* padding: 1rem 2rem; */
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header nav a {
	color: var(--white);
	/* margin: 0 15px; */
}

/* .logo_header {
	width: 16em;
} */

/* Navbar */
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar_links {
	display: flex;
	gap: 2em;
}

.navbar_link {
	color: var(--white);
	position: relative;
	font-weight: 600;
	font-size: 1.2em;
	display: inline-block;
}

.navbar_link::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -2px;
	/* Linha abaixo do texto */
	width: 0;
	height: 2px;
	background: var(--primary-hover);
	transition: width 0.3s ease;
}

.navbar_link:hover::after {
	width: 100%;
}

.hamburger {
	display: none;
	border: none;
	background: none;
	border-top: 3px solid var(--primary);
	cursor: pointer;
}

.hamburger::before,
.hamburger::after {
	content: " ";
	display: block;
	width: 30px;
	height: 3px;
	background-color: var(--primary);
	margin-top: 5px;
}


/* Section about */
.profile-circle {
	/* background: #ddd; */
	height: 460px;
	width: 460px;
	border-radius: 50%;
	margin: 2rem auto;
}

.profile-img {
	width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 50%;
}

.main-about {
	background-color: var(--black);
}

.about {
	text-align: center;
	padding: 0 1em 2em 1em;
	/* background-color: var(--black); */
	display: flex;
	align-items: center;
	flex-wrap: wrap-reverse;
}

.about-text-container {
	max-width: 600px;
}

.about h1 {
	font-size: 3rem;
	color: var(--white);
}

.about span {
	color: var(--primary);
}

.cards-wrapper {
	display: flex;
	justify-content: center;
	gap: 2em;
	padding: 2em;
}

.card-about {
	flex: 1;
	max-width: 350px;
	background: #f3f3f3;
	border: 1px solid var(--primary);
	/* verde neon */
	border-radius: 12px;
	padding: 1.5em;
	color: #333;
	box-shadow: 0 4px 15px rgba(99, 99, 99, 0.2);
	/* sombra esverdeada */
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-about:hover {
	transform: scale(1.05);
	/* cresce ao passar o mouse */
	box-shadow: 0 8px 25px var(--primary-hover);
	/* brilho mais forte */
}

.card-about h2 {
	color: var(--primary);
	/* verde principal */
	margin-bottom: 0.5em;
}

.card-about h3 {
	color: var(--primary-dark);
	/* verde mais suave */
	margin-bottom: 0.5em;
}

.card-about .info {
	display: flex;
	align-items: center;
	gap: 0.5em;
	margin-top: 1em;
}

.card-about p {
	margin: 0.3em 0;
}

/* Section projects */
.projects {
	background: #FAFBFB;
	color: #333;
	padding: 2rem 1rem;
}

.projects h2 {
	color: var(--primary);
	text-align: center;
	margin-bottom: 2rem;
}

.project-cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 2rem;
	padding: 1rem;
}

.card {
	background: #f3f3f3;
	padding: 1rem;
	border-radius: 10px;
	text-align: center;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	transition: transform 0.3s;
}

.card h3 {
	color: var(--primary);
}

.card img {
	width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 16px;
}

.image-card-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0.2em 0;
}

.card:hover {
	transform: scale(1.1);
}

.card button {
	background: var(--primary);
	color: var(--white);
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 1rem;
}

.card button:hover {
	background: var(--primary-dark);
}

/* Section skills */
.skills {
	background-color: var(--black);
	color: var(--primary);
	padding: 4rem;
	text-align: center;
}

.skills-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 3em;
	padding: 20px;
	max-width: 1400px;
	margin: auto;
	justify-content: center;
}

.skill-card {
	background: #1e1e1e;
	padding: 16px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-card:hover {
	transform: scale(1.05);
	box-shadow: 0 6px 12px rgba(201, 221, 201, 0.5);
}

.icon {
	font-size: 48px;
	margin-bottom: 0.2em;
}

.skill-name {
	font-size: 1.3em;
	font-weight: bold;
}

.skill-description {
	font-size: 14px;
	color: #aaa;
	margin-top: 5px;
}

footer {
	background-color: #FAFBFB;
	padding: 1rem;
	color: var(--primary);
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	gap: 2em 0;
}

footer .social-icons {
	display: flex;
	gap: 10px;
	flex-direction: column;
	gap: 1em;
}

footer .social-icons a {
	background: #fff;
	padding: 1rem 1.5rem;
	border-radius: 8px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
	font-size: 1.3rem;
	color: var(--primary);
	font-size: 1.2rem;
	text-decoration: none;
	display: flex;
	align-items: center;
	gap: 1em;
	transition: all 0.3s ease;
}

footer .social-icons a:hover {
	transform: translateY(-5px);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
	.about h1 {
		font-size: 2rem;
	}
}

@media (max-width: 768px) {
	.header {
		padding: 32px 24px !important;
	}

	.logo-container {
		position: absolute;
		top: 2em;
		left: 3em;
		z-index: 10;
	}

	.hamburger {
		display: block;
		cursor: pointer;
		position: fixed;
		z-index: 100;
		top: 2.5em;
		right: 4em;
		background-color: var(--black);
	}

	.hamburger::before,
	.hamburger::after {
		content: "";
		display: block;
		width: 30px;
		height: 3px;
		background-color: var(--primary);
		position: absolute;
		left: 0;
		transition: transform 0.3s ease, top 0.3s ease;
	}

	.hamburger::before {
		top: -8px;
	}

	.hamburger::after {
		top: 8px;
	}

	.navbar.active .hamburger::before {
		transform: rotate(45deg);
		top: 0;
	}

	.navbar.active .hamburger::after {
		transform: rotate(-45deg);
		top: 0;
	}

	.navbar.active .hamburger {
		border-top-color: transparent;
	}

	.navbar_links {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: var(--black);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1.5rem;
		transform: translateY(-100%);
		transition: transform 0.5s ease-in-out;
	}

	.navbar.active .navbar_links {
		transform: translateY(0);
	}

	.navbar.active {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 1000;
	}

	/* .about {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap-reverse;
		text-align: center;
		padding: 2rem 1rem;
	} */

	.profile-circle {
		width: 250px;
		height: 250px;
	}

	.about h1 {
		font-size: 1.8rem;
	}

	.skills-container {
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
		gap: 1rem;
	}

	footer {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-around;
		row-gap: 1rem;
	}
}